#loading {
  position: fixed;
  height: calc(100% - 3em);
  width: 100%;
  top: 3em;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999;
  display: none;
}

.double-bounce {
  width: 5em;
  height: 5em;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.double-bounce .child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: doubleBounce 2s infinite ease-in-out;
  animation: doubleBounce 2s infinite ease-in-out;
}

.double-bounce .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes doubleBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}