.browse a {
  color          : inherit;
  text-decoration: none;
}

.browse table {
  width: 100%;
}

.browse .actions {
  background-color: #455a64;
  color           : #fff;
  padding         : 1.5em 0;
}

.browse .actions .container {
  margin : 0 auto;
  display: flex;
}

.browse .actions .fa {
  vertical-align: middle;
}

.browse .actions .go-right {
  margin-left: auto;
}

.browse tr {
  line-height  : 2em;
  border-bottom: 1px solid rgba(0,0,0,0.03);
}