/* EDITOR GENERAL STYLES */
.editor .frontmatter {
  overflow-y      : auto;
  overflow-x      : hidden;
  color           : #37474f;
  box-sizing      : border-box;
  background-color: #ddd;
}

.editor .frontmatter h2 {
  margin-top: 0;
}

.editor #content-area {
  display: none;
}

.editor #preview-area,
.editor .CodeMirror {
  position  : relative;
  box-sizing: border-box;
  height    : 100%;
  width     : 100%;
  border    : 0;
  padding   : 1.5em 10%;
  font-size : 1.05em;
}

.editor .CodeMirror {
  padding: 0;
}

.editor #preview-area *:first-child {
  margin-top: 0;
}

.editor .cm-s-mdn-like.CodeMirror {
  background: none;
}

.editor h3 {
  font-size  : 1em;
  margin     : 0 0 .25em;
  font-weight: bold;
}

.toolbar {
  position        : fixed;
  bottom          : 0;
  right           : 0;
  width           : 100%;
  background-color: #455a64;
  height          : 3em;
  display         : flex;
  padding         : .5em 1em;
  box-sizing      : border-box;
  z-index         : 999;
}

.toolbar .left {
  margin-right: auto;
}

.toolbar *:last-child {
  margin-left: 1em;
}

/* EDITOR FRONTMATTER ONLY STYLES */
.frontmatter-only .box,
.content-only .box {
  height: calc(100% - 6em);
}

.frontmatter-only .frontmatter {
  width: 100%;
}

.frontmatter-only input {
  background-color: rgba(255,255,255,0.4);
  color           : #aaa;
}

.frontmatter-only label {
  width: 100%;
}

.frontmatter-only input:focus {
  color: #555;
}

.frontmatter-only .toolbar input,
.frontmatter-only .toolbar input:focus {
  color: #fff;
}

.frontmatter-only fieldset {
  border-top: 1px solid rgba(0,0,0,.1);
}

.frontmatter-only h3 {
  font-size: 1.5em;
}

.frontmatter-only h1,
.frontmatter-only h3,
.frontmatter-only label {
  position: relative !important;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #fff;
}

/* EDITOR CONTENT ONLY STYLES */
.editor.content-only #content-area,
.editor.content-only #preview-area {
  padding: 0;
}

/* EDITOR FULL STYLES */
.editor.complete .frontmatter {
  position        : fixed;
  left            : 0;
  top             : 3em;
  width           : 25%;
  padding         : 1.5em 1em;
  background-color: #37474f;
  color           : #ddd;
  height          : calc(100% - 3em);
}

.editor.complete .container {
  position : fixed;
  top      : 3em;
  right    : 0;
  width    : 75%;
  max-width: none;
  height   : calc(100% - 6em);
  margin   : 1.5em auto;
}

.editor.complete .toolbar {
  width: 75%;
}

.editor.complete .cm-s-mdn-like.CodeMirror {
  width : auto;
  margin: 0 10%;
  height: calc(100% - 3em);
}