/* FORMS ELEMENTS */
input {
  width           : 100%;
  background-color: rgba(0, 0, 0, 0.25);
  color           : rgba(255, 255, 255, 0.3);
  border          : 0;
  border-radius   : 5px;
  padding         : .5em 1em;
  box-sizing      : border-box;
  margin          : .5em 0;
  line-height     : 1.25em;
  transition      : .5s ease-out all;
}

input:focus {
  color  : rgba(255, 255, 255, 0.7);
  border : 0;
  outline: 0;
}

label {
  width  : 10.5em;
  display: inline-block;
  margin : .1em 0 0;
}

fieldset {
  border    : 0;
  margin    : 1em 0 0;
  padding   : 1em 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

fieldset:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

input[type="file"] {
  display: none;
}

button,
input[type="submit"] {
  border          : 0;
  color           : #fff;
  margin          : 0;
  padding         : .5em 1em;
  border-radius   : 10px;
  font-size       : .9em;
  width           : auto;
  line-height     : 1em;
  background-color: #bbb;
  transition      : .3s ease all;
}

button,
input[type="submit"],
button:active,
input[type="submit"]:active,
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
  outline: 0;
}

button:hover,
input[type="submit"]:hover,
button:active,
input[type="submit"]:active,
button:focus,
input[type="submit"]:focus {
  background-color: #999;
  color           : #fff;
}

button.default,
input[type="submit"].default {
  background-color: #2196f3;
}

button.default:hover,
input[type="submit"].default:hover,
button.default:active,
input[type="submit"].default:active {
  background-color: #1e88e5;
}

button.add,
button.delete {
  vertical-align: middle;
  border-radius : 50%;
  height        : 1.5em;
  width         : 1.5em;
  font-size     : .7rem;
  padding       : 0;
}

button.add {
  background-color: #00c853;
}

button.delete {
  background-color: #ff5252;
}

.editor .actions {
  opacity   : 0;
  transition: .2s ease-in-out opacity;
}

div[data-type="array-item"] {
  position: relative;
}

label:hover > .actions,
h1:hover > .actions,
h2:hover > .actions,
h3:hover > .actions,
div[data-type="array-item"]:hover .actions {
  opacity: .7;
}

input[data-parent-type="array"] + .actions {
  position: absolute;
  top     : 1em;
  right   : .5em;
}