@import "navigation";
@import "scrollbar";
@import "notifications";
@import "animations";
@import 'editor';
@import 'forms';
@import "browse";

body {
  font-family: 'Roboto', sans-serif;
  color      : #212121;
  height     : 100%;
  width      : 100%;
}

code {
  border-radius: .2em;
}

#content {
  position: fixed;
  top     : 3em;
  left    : 0;
  width   : 100%;
  height  : calc(100% - 3em);
  overflow: hidden;
}

.full {
  position: fixed;
  height  : calc(100% - 3em);
  width   : 100%;
}

h2 {
  margin: .83em 0;
}

header {
  color           : #fff;
  background-color: #37474f;
  padding         : .67em 0;
}

header h1 {
  margin: 0;
}

.container {
  margin   : 1.5em auto;
  width    : 80%;
  max-width: 800px;
}

.hidden {
  display: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}