body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  padding-top: 3em;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1976D2;
}

code {
  border-radius: .2em;
}

img {
  max-width: 100%;
}

h2 {
  margin: .83em 0;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}

.hidden {
  display: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#content > header {
  background-color: #00BCD4;
  padding: 1px 0;
}


/* NAVIGATION */

body > nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: #0097A7;
  padding: 0 1em;
  box-sizing: border-box;
  z-index: 999;
  color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body > nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body > nav ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

body > nav ul li:first-child a {
  margin-left: -0.5em;
}

body > nav ul li:last-child a {
  margin-right: -0.5em;
}

body > nav ul li:last-child {
  margin-left: auto;
}

body > nav img {
  height: 2em;
}

body > nav ul li a {
  padding: .5em;
  line-height: 2em;
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: .5s ease background-color;
  transition: .5s ease background-color;
}

body > nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


/* FOOTER */

body > footer {
  background-color: #ddd;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
}

body > footer p {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  color: #78909C;
  font-size: .9em
}

body > footer a {
  color: #aaa;
}


/* NOFICATIONS */

#noty_topRight_layout_container {
  font-family: sans-serif;
  top: 4em !important;
  right: 1em !important;
  position: fixed !important;
  width: 310px;
  height: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 10000000;
}

#noty_topRight_layout_container li {
  overflow: hidden;
  margin: 0 0 .25em;
}

.noty_bar {
  color: #fff;
  background-color: #cfd8dc;
  border-radius: .3em;
}

.noty_message {
  font-size: .75em;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
  padding: 1em;
  width: auto;
  position: relative;
}

.noty_text {
  display: block;
  box-sizing: border-box;
  margin-left: 3em;
  top: 1em;
}

.noty_icon {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, .1);
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
  text-align: center;
}

.noty_icon .fa {
  width: 1em !important;
}

.noty_type_success {
  background-color: #00c853;
}

.noty_type_error {
  background-color: #ff5252;
}

.noty_type_warning {
  background-color: #ffd600;
}

.noty_type_information {
  background-color: #448aff;
}


/* EDITOR : BUTTONS */

button,
input[type="submit"] {
  border-radius: 0.2em;
  border: 0;
  padding: .5em 1em;
  color: #000;
  font-weight: normal;
  background-color: #FFEB3B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: .5s ease background-color;
  transition: .5s ease background-color;
}

button.darker {
  background-color: #F9A825;
}

button.darker:hover {
  background-color: #F57F17;
}

button:hover,
input[type="submit"]:hover,
button:active,
input[type="submit"]:active,
button:focus,
input[type="submit"]:focus {
  outline: 0;
  background-color: #FDD835;
}

button.add,
button.delete,
button.rename {
  color: #fff;
  padding: 0.063em 0.375em;
}

button.add {
  background-color: #8BC34A;
}

button.add:hover {
  background-color: #689F38;
}

button.delete {
  background-color: #F44336;
}

button.delete:hover {
  background-color: #D32F2F;
}

button.rename {
  background-color: #1565C0;
}

button.rename:hover {
  background-color: #0D47A1;
}

.frontmatter > .actions {
  margin-top: 0;
  text-align: right;
}

.frontmatter > .actions button.add {
  padding: .5em 1em;
}

.toolbar .right {
  float: right;
}

.toolbar input[type="submit"] {
  background-color: #00BCD4;
  color: #fff;
}

.toolbar input.default {
  background-color: #8BC34A;
}

.editor h1 textarea {
  width: 100%;
  border: 0;
  font-size: 2em;
  font-weight: 400;
  resize: none;
  overflow: hidden;
  line-height: 1em;
  height: 1em;
  background-color: transparent;
}

.block > .actions,
fieldset > .actions {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.blocks {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.block,
fieldset {
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 0.6em;
  box-sizing: border-box;
  margin: 0 0 1em;
  position: relative;
  width: 100%;
  border: 0;
}

.block label,
fieldset label,
fieldset h3 {
  font-weight: bold;
  display: block;
  margin-top: 0;
  font-size: 1em;
}

.block textarea {
  width: 100%;
  background-color: transparent;
  resize: vertical;
  background-color: inherit;
  border: 0;
  overflow: hidden;
}

input {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
}

input[type="submit"] {
  width: auto;
}

fieldset input {
  width: calc(100% - 1.57em);
  margin: 0.5em 0;
}

.complete .block[data-content="title"] {
  display: none;
}


/* TOGGLER, SOURCE AND PREVIEW */

.editor .content {
  border-radius: 0.5em;
  border: 1px solid #d8d8d8;
  background-color: #f7f7f7;
}

.editor .content nav a {
  padding: 1em 1em;
  line-height: 3em;
  cursor: pointer;
  font-size: 1em;
  color: inherit;
}

.editor .content nav a.active {
  font-weight: bold;
}

#editor-preview {
  padding: 4% 13%;
  display: block;
  background-color: rgb(255, 255, 255);
  display: none;
}

.ace_editor {
  margin: 0;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: 0.5em;
}

.ace_gutter {
  background-color: #f7f7f7 !important;
}


/* BROWSE */

.browse a {
  color: inherit;
  text-decoration: none;
}

.browse .actions {
  background-color: #00BCD4;
  color: #fff;
  padding: 1.5em 0;
}

.browse .actions .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.browse .actions .container > a,
.browse .actions .container > span {
  line-height: 2em;
  vertical-align: middle;
}

.browse .actions .container > a {
  margin-right: 0.5em;
}

.browse .actions .container > span {
  font-weight: bold;
  font-size: 1.1em;
}

.browse .actions .fa {
  vertical-align: middle;
}

.browse .actions .go-right {
  margin-left: auto;
  position: relative;
}

.browse .go-right input[type="file"] {
  display: none;
}

.browse table {
  margin: 1em 0;
  width: 100%;
}

.browse tr {
  line-height: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-transition: .2s ease background-color;
  transition: .2s ease background-color;
}

.browse tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.browse th.buttons {
  width: 4em;
}

.browse tr button {
  line-height: 1.5em;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
}

.browse #new-file {
  display: none;
  position: absolute;
  right: 0;
  top: 2.5em;
  background-color: #263238;
  color: rgba(255, 255, 255, .5);
  border-radius: .5em;
  padding: 1em;
  width: 182%;
}


/* POPUS */

#foreground {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.popup {
  z-index: 999999;
  position: fixed;
  margin: 0 auto;
  max-width: 25em;
  width: 95%;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #006064;
  color: #fff;
  padding: 1em 2em;
  border-radius: .5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.popup input[type="text"] {
  border-bottom: .15em solid white;
}


/* LOADING */

#loading {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.41);
}

#loading .centerize {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@media screen and (max-width: 900px) {
  .blocks {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: 600px) {
  .blocks {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  body > nav span {
    display: none;
  }
  body>nav ul li:last-child {
    margin-left: 0;
  }
  body > nav .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
  }
  .hideable {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .blocks {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .browse .actions {
    text-align: center;
  }
  .browse .actions .container {
    display: block;
  }
  .browse .container .go-right {
    display: block;
  }
}
