.share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 736px) {
  .share {
    display: block;
  }
}

.share__box {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
  background: #fff;
  border-radius: 0.2em;
  margin: 5px;
  overflow: hidden;
}

.share__box__header {
  width: 100%;
  padding: 1em;
  cursor: pointer;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.share__box__body {
  padding: 2em 3em;
}

.share__box__title {
  margin: 0 0 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.share__box__info {
  text-align: center;
  flex: 1 1 auto;
}

.share__box__items {
  text-align: left;
  flex: 10 0 15em;
}

.share__box__items #listing.list .item {
  cursor: auto;
  border-left: 0;
  border-right: 0;
}

.share__box__items #listing.list .item .name {
  width: auto;
}