:root {
  --blue: #2196f3;
  --dark-blue: #1E88E5;
  --red: #F44336;
  --dark-red: #D32F2F;
  --moon-grey: #f2f2f2;

  --icon-red: #da4453;
  --icon-orange: #f47750;
  --icon-yellow: #fdbc4b;
  --icon-green: #2ecc71;
  --icon-blue: #1d99f3;
  --icon-violet: #9b59b6;
}
