body {
  overflow-x: hidden;
  color: #333;
  text-align: left;
  background-color: #f5f5f5;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 13px;
  font-weight: 300 !important;
  line-height: 1.5385;
}

* {
  box-sizing: border-box;
}

*,
*:hover,
*:active,
*:focus {
  outline: 0
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

audio,
video {
  width: 100%;
}

.mobile-only {
  display: none !important;
}

.container {
  width: 95%;
  max-width: 960px;
  margin: 1em auto 0;
}

i.spin {
  animation: 1s spin linear infinite;
}

#app {
  transition: .2s ease padding;
}

#app.multiple {
  padding-bottom: 4em;
}

nav {
  width: 16em;
  position: fixed;
  top: 5em;
  left: 13px;
  bottom: 0;
  background: white;
  border: 0 solid rgba(0, 0, 0, .125);
}

nav .action {
  background: #fff;
  border: 0;
  color: #232f3e;
  text-decoration: none;
  position: relative;
  padding: 5px 15px;
  font-size: 13px;
}

nav>div {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

nav .action>* {
  vertical-align: middle;
}

main {
  min-height: 1em;
  margin: 0 1em 1em auto;
  width: calc(100% - 19em);
}

.breadcrumbs {
  height: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 4rem;
}

.breadcrumbs span,
.breadcrumbs {
  display: flex;
  align-items: center;
  color: #6f6f6f;
}

.breadcrumbs a {
  color: inherit;
  transition: .1s ease-in;
  border-radius: .125em;
}

.breadcrumbs a:hover {
  background-color: rgba(0,0,0, 0.05);
}

.breadcrumbs span a {
  padding: .2em;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999999999;
}

#progress div {
  height: 100%;
  background-color: #40c4ff;
  width: 0;
  transition: .2s ease width;
}

.break-word {
  word-break: break-all;
}
