.context-menu {
  position: fixed;
  background: #ffffff;
  min-width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.context-menu .action {
  display: block;
  width: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
}