.md_preview {
  overflow-y: auto;
  max-height: 80vh;
  padding: 1rem;
  border: 1px solid #000;
  font-size: 20px;
  line-height: 1.2;
}

#preview-container {
  overflow: auto;
  max-height: 80vh; /* Match the max-height of md_preview for scrolling */
}
