{{ define "sidebar-addon" }}
<a class="action" href="{{ .BaseURL }}/content/">
    <i class="material-icons">subject</i>
    <span>Posts and Pages</span>
</a>
<a class="action" href="{{ .BaseURL }}/themes/">
    <i class="material-icons">format_paint</i>
    <span>Themes</span>
</a>
<a class="action" href="{{ .BaseURL }}/settings/">
    <i class="material-icons">settings</i>
    <span>Settings</span>
</a>
{{ end }}