{{ define "actions" }}
<div class="action" id="open">
    <i class="material-icons" title="See raw">open_in_new</i> <span>See raw</span>
</div>
{{ if and .IsDir .User.AllowEdit }}
<div class="action" id="rename">
    <i class="material-icons" title="Edit">mode_edit</i>
</div>
{{ end }}
<!-- {{ if .IsDir }}
<div class="action" id="info">
    <i class="material-icons">info</i>
</div> -->
{{ end }}
<div class="action" id="download">
    <a href="?download=true">
        <i class="material-icons" title="Download">file_download</i> <span>Download</span>
    </a>
    {{ if .IsDir }}
    <ul class="prev-links">
        <a data-format="tarbz2" href="?download=tarbz2"><li>tar.bz2</li></a>
        <a data-format="targz" href="?download=targz"><li>tar.gz</li></a>
        <a data-format="tar" href="?download=tar"><li>tar</li></a>
        <a data-format="zip" href="?download=zip"><li>zip</li></a>
    </ul>
    {{ end }}
</div>
{{ if .User.AllowEdit }}
<div class="action" id="delete">
    <i class="material-icons" title="Delete">delete</i> <span>Delete</span>
</div>
{{ end }}
{{ end }}
