{{ define "content" }}
{{ with .Data}}
 <main class="container">
  {{ if eq .Type "image" }}
   <center><img src="{{ .URL }}?raw=true"></center>
   {{ else if eq .Type "audio" }}
   <audio src="{{ .URL }}?raw=true" controls></audio>
   {{ else if eq .Type "video" }}
   <video src="{{ .URL }}?raw=true" controls>
      Sorry, your browser doesn't support embedded videos,
      but don't worry, you can <a href="?download=true">download it</a>
      and watch it with your favorite video player!
    </video>
   {{ else if eq .Type "blob" }}
   <a href="?download=true"><h2 class="message">Download <i class="material-icons">file_download</i></h2></a>
   {{ else}}
   <pre>{{ .StringifyContent }}</pre>
  {{ end }}
 </main>
{{ end }}
{{ end }}
