<!DOCTYPE html>
<html>
	<head>
		<title>{{.Name}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		  <link rel="stylesheet" href="{{ .Config.BaseURL }}/_filemanagerinternal/css/styles.css">
			<script src="{{ .Config.BaseURL }}/_filemanagerinternal/js/application.js"></script>
			{{ if ne .Config.StyleSheet "" }}<style>{{ .Config.StyleSheet}}</style>{{ end }}
	</head>
	<body>
    <header>
			<div>
				{{ $lnk := .PreviousLink }}
				{{ if ne $lnk ""}}<a href="../../{{.PreviousLink}}"><div class="action" id="prev"><i class="material-icons">subdirectory_arrow_left</i></div></a>{{ else }}
				<div class="action disabled" id="prev"><i class="material-icons">subdirectory_arrow_left</i></div>{{ end }}
				<p><a href="{{ if eq .Config.BaseURL "" }}/{{ else }}{{ .Config.BaseURL }}{{ end }}">File Manager</a> {{ if ne .Name "."}}<i class="material-icons">chevron_right</i> {{ .Name }}</p>{{ end }}
			</div>
			<div>
				<form>
					<i class="material-icons">search</i> <input type="text" placeholder="Search">
				</form>

				<div class="action" id="view"><i class="material-icons">view_comfy</i></div>
				<div class="action" id="upload"><i class="material-icons">file_upload</i></div>
			</div>
    </header>
		<div id="toolbar">
			<div>
				<div class="action" id="back"><i class="material-icons">arrow_back</i></div>
				<p><span id="selected-number">0</span> selected.</p>
			</div>
			<div>
				<div class="action" id="open"><i class="material-icons">open_in_new</i></div>
				<div class="action" id="rename"><i class="material-icons">mode_edit</i></div>
				<div class="action" id="download"><i class="material-icons">file_download</i></div>
				<div class="action" id="delete"><i class="material-icons">delete</i></div>
			</div>
		</div>

    <main>
      {{ template "content" .Data }}
    </main>
		<footer>
			Served with <a rel="noopener noreferrer" href="https://caddyserver.com">Caddy</a> and <a rel="noopener noreferrer" href="https://github.com/hacdias/caddy-filemanager">File Manager</a>.
		</footer>
		<script type="text/javascript">
			function localizeDatetime(e, index, ar) {
				if (e.textContent === undefined) {
					return;
				}
				var d = new Date(e.getAttribute('datetime'));
				if (isNaN(d)) {
					d = new Date(e.textContent);
					if (isNaN(d)) {
						return;
					}
				}
				e.textContent = d.toLocaleString();
			}
			var timeList = Array.prototype.slice.call(document.getElementsByTagName("time"));
			timeList.forEach(localizeDatetime);
		</script>
	</body>
</html>
