{{ define "buttons" }}
{{ if .IsDir}}

<div id="search">
    <i class="material-icons">storage</i>
    <input type="text" placeholder="Execute a command...">
    <div>Write your git, mercurial or svn command and press enter.</div>
</div>

 <div class="action" id="view">
  <i class="material-icons">view_headline</i> <span>Switch view</span>
 </div>
 <div class="action" id="upload">
  <i class="material-icons">file_upload</i> <span>Upload</span>
 </div>
 {{ else }}
 {{ template "actions" . }}
{{ end }}

<div class="action" id="logout">
 <i class="material-icons">exit_to_app</i> <span>Logout</span>
</div>
{{ end }}
