{{ define "content" }}
<div class="editor container {{ .Class }}">
  {{ if eq .Class "complete" }}
  <h1><textarea id="site-title">{{ .Name }}</textarea></h1>
  {{ end }}
  <form method="POST" action="">
    <main>
      {{ if not (eq .Class "complete") }}
        <h1 id="site-title">{{ .Name }}</h1>
      {{ end }}

      {{ if eq .Class "frontmatter-only" }}
      <div class="frontmatter blocks">
        {{ template "frontmatter" .FrontMatter }}
        <p class="actions">
          <button class="add">Add field</button>
        </p>
      </div>
      {{ else if eq .Class "content-only" }}
      <div class="content">
        <div id="editor-source" data-mode="{{ .Mode }}"></div>
        <textarea name="content">{{ .Content }}</textarea>
      </div>
      {{ else }}
      <div class="frontmatter">
        <div class="blocks">
        {{ template "frontmatter" .FrontMatter }}
        </div>

        <p class="actions">
          <button class="add">Add field</button>
        </p>
      </div>

      <div class="content">
        {{ if eq .Mode "markdown" }}
        <nav>
          <a id="see-source" class="active"><i class="fa fa-code"></i> Source</a>
          <a id="see-preview"><i class="fa fa-eye"></i> Preview</a>
        </nav>
        {{ end}}
        <div id="editor-source" data-mode="{{ .Mode }}"></div>
        <textarea name="content">{{ .Content }}</textarea>
        <div id="editor-preview"></div>
      </div>
      {{ end }}

      <p class="toolbar">
        <input type="submit" data-type="{{ .Class }}" data-regenerate="false" data-schedule="false"  data-message="{{ if eq .Class "frontmatter-only" }}The fields were put on their way.{{ else if eq .Class "content-only" }}Every byte was saved.{{ else }}Post saved with pomp and circumstance.{{ end }}" value="Save">
        <span class="right">
          {{ if and (eq .Class "complete") ( .IsPost ) }}<input type="submit" data-type="{{ .Class }}" data-schedule="true" data-regenerate="false" data-message="Post scheduled."  value="Schedule"> {{ end }}
          <input type="submit" data-type="{{ .Class }}" data-regenerate="true" data-schedule="true" data-message="{{ if eq .Class "frontmatter-only" }}Saved and regenerated.{{ else if eq .Class "content-only" }}Done. What do you want more?{{ else }}Post published. Go and share it!{{ end }}" class="default" value="Publish">
        </span>
      </p>
    </main>
  </form>
</div>
{{ end }}
