{{ define "content" }}
<main role="main" class="container browse error">
  <h1>{{ .Title }}</h1>
  <code>{{ .Message }}</code>

  <p><strong>If this error persists contact us on <a href="https://gitter.im/hacdias/caddy-hugo">Gitter chat</a> or open an issue at <a href="https://github.com/hacdias/caddy-hugo/issues/new">GitHub</a>.</strong></p>
</main>
{{ end }}
