{{ define "frontmatter" }}
 {{ range $key, $value := . }}

  {{ if or (eq $value.Type "object") (eq $value.Type "array") }}
   <fieldset id="{{ $value.Name }}" data-type="{{ $value.Type }}">
    <div class="title">
     <h3>{{ SplitCapitalize $value.Title }}</h3>

     <button class="delete" data-delete="{{ $value.Name }}">&#8722;</button>
    </div>

    <div class="columns">
     {{ template "frontmatter" $value.Content }}
     <button class="add">Add field</button>
    </div>

   </fieldset>
   {{ else }}

   {{ if not (eq $value.Parent.Type "array") }}
    <div class="block" id="block-{{ $value.Name }}" data-content="{{ $value.Name }}">
     <label for="{{ $value.Name }}">{{ SplitCapitalize $value.Title }}</label>
     <button class="delete" data-delete="block-{{ $value.Name }}">&times;</button>

    {{ end }}

    {{ if eq $value.Parent.Type "array" }}
     <div class="block" id="{{ $value.Name }}-{{ $key }}" data-type="array-item">
     {{ end }}

     {{ if eq $value.HTMLType "textarea" }}
      <textarea class="scroll" name="{{ $value.Name }}:{{ $value.Type }}" id="{{ $value.Name }}" data-parent-type="{{ $value.Parent.Type }}">{{ $value.Content }}</textarea>
      {{ else if eq $value.HTMLType "datetime" }}
      <input name="{{ $value.Name }}:{{ $value.Type }}" id="{{ $value.Name }}" value="{{ $value.Content.Format " 2006-01-02T15:04" }}" type="datetime-local" data-parent-type="{{ $value.Parent.Type }}"></input>
      {{ else }}
      <input name="{{ $value.Name }}:{{ $value.Type }}" id="{{ $value.Name }}" value="{{ $value.Content }}" type="{{ $value.HTMLType }}" data-parent-type="{{ $value.Parent.Type }}"></input>
     {{ end }}

     {{ if not (eq $value.Parent.Type "array") }}
     </div>
    {{ end }}

    {{ if eq $value.Parent.Type "array" }}
     <button class="delete" data-delete="{{ $value.Name }}">&times;</button>
    </div>
   {{ end }}

  {{ end }}
 {{ end }}
{{ end }}
