@import "./fonts.css";
@import "./normalize.css";
@import "./header.css";
@import "./prompts.css";
@import "./listing.css";

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 4em;
    background-color: #f8f8f8;
}

* {
    box-sizing: border-box;
}

*,
*:hover,
*:active,
*:focus {
    outline: 0
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

audio,
video {
    width: 100%;
}

pre {
    padding: 1em;
    border: 1px solid #e6e6e6;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

button {
    border: 0;
    padding: .5em 1em;
    margin-left: .5em;
    border-radius: .1em;
    cursor: pointer;
    background: #2196f3;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    transition: .1s ease all;
}

button:hover {
    background-color: #1E88E5;
}

.mobile-only {
    display: none !important;
}

.container {
    width: 95%;
    max-width: 960px;
    margin: 1em auto 0;
}

i.spin {
    animation: 1s spin linear infinite;
}


#app {
    transition: .2s ease padding;
}

#app.multiple {
    padding-bottom: 4em;
}

/* * * * * * * * * * * * * * * *
 *            EDITOR           *
 * * * * * * * * * * * * * * * */

#editor .source {
    display: none;
}

#editor .content {
    background: #fff;
    padding: 1em 0;
}

#editor #ace,
#editor h2,
#editor .frontmatter {
    width: 95%;
    max-width: 960px;
    margin: 1em auto 0;
}

#editor h2 {
    margin: 1.5em auto 1em;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

#editor .ace_gutter {
    background-color: #fff;
}


/* * * * * * * * * * * * * * * *
 *       EDITOR - MARKDOWN     *
 * * * * * * * * * * * * * * * */

.frontmatter {
    column-count: 3;
    column-gap: 1em;
    column-fill: balance;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex-grow: 1; */
}

.frontmatter label {
    display: block;
    width: calc(100% - 1em);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.frontmatter label,
.frontmatter h3 {
    font-weight: 500;
    margin: 0 0;
    color: rgba(0, 0, 0, 0.6);
}

.frontmatter input,
.frontmatter textarea {
    display: block;
    width: 100%;
    border: 0;
    margin-top: .5em;
    padding: 0;
    line-height: 1;
}

.frontmatter .block,
.frontmatter fieldset[data-type="array"],
.button {
    position: relative;
    background: #fff;
    border-radius: .2em;
    border: 1px solid rgba(0, 0, 0, 0.075);
    padding: .5em;
    break-inside: avoid;
    margin: 0 0 1em;
    width: 100%;
    display: inline-block;
}

.frontmatter fieldset[data-type="object"] {
    position: relative;
    margin: 0;
}

.frontmatter .button {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

[data-type="array-item"] {
    position: relative;
}

[data-type="array-item"] .action {
    top: 0;
    right: 0;
}

.frontmatter textarea {
    resize: none;
}

[data-type="array-item"] input {
    width: calc(100% - 1em);
}

.block .action,
fieldset .action {
    position: absolute;
    top: .5em;
    right: .5em;
}

.block>.action,
fieldset>.action {
    opacity: 0;
}

.block:hover>.action,
fieldset:hover>.action {
    opacity: 1;
}

.block .action.add,
fieldset .action.add {
    right: 1.5em;
}

.frontmatter .action i {
    padding: 0;
    font-size: 1em;
}

fieldset {
    border: 0;
    padding: 0;
}

.frontmatter>fieldset h3,
.frontmatter>.group h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

fieldset h3,
.group h3 {
    font-size: 0.9em;
}


/* * * * * * * * * * * * * * * *
 *            ACTION           *
 * * * * * * * * * * * * * * * */

.action {
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease all;
    border: 0;
    margin: 0;
    color: #546E7A;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    box-shadow: 0 0 0 0;
    vertical-align: middle;
    text-align: left;
}

.action.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.action i {
    padding: 0.4em;
    -webkit-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    border-radius: 50%;
}

.action:hover {
    background-color: rgba(0, 0, 0, .1);
}

.action ul {
    position: absolute;
    top: 0;
    color: #7d7d7d;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
}

.action ul li {
    line-height: 1;
    padding: .7em;
    transition: .1s ease background-color;
}

.action ul li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}


/* * * * * * * * * * * * * * * *
 *         NEW FILE/DIR        *
 * * * * * * * * * * * * * * * */

.floating {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.floating .action {
    background-color: #2196f3 !important;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
}

#newdir {
    position: fixed;
    bottom: 1.3em;
    right: 5em;
    transition: .2s ease all;
    opacity: 0;
    border: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: .5em;
    width: 22em;
    border-radius: .2em;
}

#newdir.enabled {
    opacity: 1;
}


#logout {
    border-radius: 0;
    margin-left: auto;
    padding: .15em;
}

#click-overlay {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#click-overlay.active {
    display: block;
}


/* SIDEBAR */

#sidebar {
    position: fixed;
    left: 0;
    width: 20%;
}

#sidebar .action {
    width: 100%;
    display: block;
    border-radius: 0;
    font-size: 1.1em;
    padding: .5em;
}

#sidebar .action>* {
    vertical-align: middle;
}

main {
    width: 78%;
    margin-left: 20%;
    min-height: 1em;
}


/* * * * * * * * * * * * * * * *
 *            DROPDOWN         *
 * * * * * * * * * * * * * * * */

.dropdown {
    position: fixed;
    top: -100%;
    right: -100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    border-radius: .1em;
    border-top-left-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 9999999;
}

.dropdown.active {
    visibility: visible;
}

.dropdown .action {
    padding: .7em;
}

.dropdown i {
    padding: 0;
    vertical-align: middle;
}

.dropdown span {
    display: inline-block;
    margin-left: .5em;
    font-size: .9em;
}


/* * * * * * * * * * * * * * * *
 *          BREADCRUMBS        *
 * * * * * * * * * * * * * * * */

#previous {
    margin-left: -.5em;
}

#breadcrumbs {
    min-width: 7em;
}

#breadcrumbs.active {
    top: 0;
    left: 0;
    right: auto;
}



/* PREVIEWER */

#previewer {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

#previewer .bar {
    width: 100%;
    text-align: right;
    display: flex;
    padding: 0.5em 0.5em 0.5em 1em;
    height: 3.7em;
}

#previewer .action:first-of-type {
    margin-right: auto;
}

#previewer .action i {
    color: #fff;
}

#previewer .action:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

#previewer .action span {
    display: none;
}

#previewer .preview {
    margin: 2em auto 4em;
    max-width: 80%;
    text-align: center;
    height: calc(100vh - 9.7em);
}

#previewer .preview pre {
    text-align: left;
    overflow: auto;
}

#previewer .preview pre,
#previewer .preview video,
#previewer .preview img {
    max-height: 100%;
    margin: 0;
}

#previewer .pdf {
    width: 100%;
    height: 100%;
}

#previewer h2.message {
    color: rgba(255,255,255,0.5)
}




/* * * * * * * * * * * * * * * *
 *            PROMPT           *
 * * * * * * * * * * * * * * * */





/* * * * * * * * * * * * * * * *
 *            FOOTER           *
 * * * * * * * * * * * * * * * */

footer {
    font-size: 0.6em;
    margin: 2em 0 2em;
    text-align: center;
    color: grey;
}

footer a,
footer a:hover {
    color: inherit;
}


/* * * * * * * * * * * * * * * *
 *        MEDIA QUERIES        *
 * * * * * * * * * * * * * * * */

@media screen and (max-width: 850px) {
    .frontmatter {
        column-count: 2;
    }
}

@media screen and (max-width: 650px) {
    body {
        transition: .2s ease padding;
    }
    .mobile-only {
        display: inherit !important;
    }
    #bottom-bar>*:first-child {
        max-width: calc(100% - 16em) !important;
    }
    #main-actions {
        position: fixed;
        top: -100%;
        right: -100%;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        border-radius: .1em;
        border-top-left-radius: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background: #fff;
        z-index: 9999999;
    }
    #main-actions.active {
        right: .5em;
        top: 4.5em;
        visibility: visible;
    }
    #main-actions .action {
        padding: .7em;
        border-radius: 0;
        align-items: center;
    }
    #main-actions .action:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    #main-actions i {
        padding: 0;
        vertical-align: middle;
    }
    #main-actions .action:hover i {
        padding: 0;
        background-color: transparent;
    }
    #main-actions span {
        display: inline-block;
        margin-left: .5em;
        font-size: .9em;
    }
    #listing.list .item .size,
    #listing.list .item .modified {
        display: none;
    }
    #listing.list .item .name {
        width: 100%;
    }
    .frontmatter {
        column-count: 1;
    }
}

@media screen and (max-width: 450px) {
    #bottom-bar p {
        display: none !important;
    }
}


/* * * * * * * * * * * * * * * *
 *          ANIMATIONS         *
 * * * * * * * * * * * * * * * */

@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}