.editor input[type="text"], .editor input[type="datetime-local"], .editor textarea {
    background-color: #f5f3f3;
    border-radius: .5em;
    border: 1px solid #ccc;
    outline: none;
    padding: .5em;
    line-height: 1.2em;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    transition: all 0.3s;
}
input[type="text"]:focus {
    border-bottom: 1px solid #26a69a;
}
.editor .block {
    margin-bottom: 1em;
}
.editor fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.editor h1 textarea {
    font-size: 2em;
    font-weight: 400;
    resize: none;
    overflow: hidden;
    padding: 0;
    line-height: 1em;
    height: 1em;
    background-color: transparent;
    border: 0;
}
.editor fieldset h3 {
    display: inline-block
}
.editor label {
    font-size: .8em;
    color: #8b8b8b;
    font-weight: 500;
}
.editor .options {
    column-count: 2;
    column-gap: 1em;
}
.editor .block {
    break-inside: avoid;
    position: relative;
    z-index: 0;
}
.editor .block .delete {
    position: absolute;
    right: 0;
    bottom: 1px;
    height: 2.5em;
    padding: 0 .7em;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
}

/* BUTTONS */

.editor button, .editor input[type="submit"] {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    transition: all .3s ease-out;
}

/* TOOLBAR */

.editor #actions {
    display: flex;
    margin: 1em 0;
}
.editor #actions> div {
    flex-basis: 50%;
}
.editor #actions div:nth-child(2) {
    text-align: right;
}
