<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fff">
  <title>{{ .Name }}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/admin/assets/css/main.min.css">
  <script src="/admin/assets/js/app.min.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>
      <li><a href="/admin/browse/content/"><i class="fa fa-newspaper-o"></i> Content</a></li>
      <li><a href="/admin/browse/"><i class="fa fa-folder-o"></i> Browse</a></li>
      <li><a href="/admin/settings/"><i class="fa fa-cog"></i> Settings</a></li>
      <li><a id="logout" href="#logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </nav>
  <div class="main" id="container">
  {{ template "content" . }}
  </div>
</body>
</html>
