<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#fff">
  <title>{{ if Defined . "Name" }}{{ .Name }}{{ end }}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/admin/assets/css/main.min.css">
  {{ if and (Defined . "Config")}}{{ if not (eq .Config.Styles "") }}<link rel="stylesheet" href="{{ .Config.Styles }}">{{ end }}{{ end }}
  {{ if and (Defined . "User") }}{{ if not (eq .User.Styles "") }}<link rel="stylesheet" href="{{ .User.Styles }}">{{ end }}{{ end }}


  <script src="/admin/assets/js/plugins.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
  <script src="/admin/assets/js/app.min.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/"><i class="fa fa-home fa-lg"></i> Go to website</a></li>
      <li><a data-pjax href="/admin/browse/content/"><i class="fa fa-newspaper-o"></i> Content</a></li>
      <li><a data-pjax href="/admin/browse/"><i class="fa fa-folder-o"></i> Browse</a></li>
      <li><a data-pjax href="/admin/settings/"><i class="fa fa-cog"></i> Settings</a></li>
      <li><a data-pjax id="logout" href="#logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </nav>
  <div id="content">
    {{ template "content" . }}
  </div>
  <footer>
    <p>Proudly using <a href="https://http://caddyserver.com/">Caddy</a> and <a href="http://gohugo.io/">Hugo</a>.</p>
  </footer>
</body>

</html>
