{{ define "content" }} {{ with .Body }}

<main class="editor">
  <form method="POST" action="">
    <div class="sidebar data scroll">
      <h2>Metadata</h2>
      {{ template "frontmatter" .FrontMatter }}
    </div>

    <div class="container data">
      <textarea name="content" class="scroll">{{ .Content }}</textarea>
      <div id="preview-area" class="scroll hidden"></div>
    </div>

    <div class="action-bar">
      <button id="preview" class="left">Preview</button>
      <input type="submit" value="Save">
      <input type="submit" class="default" value="Publish">
    </div>
  </form>
</main>

{{ end }} {{ end }}
