{{ define "content" }}

{{ with .Body }}
<div class="content">
  <h1>Settings</h1>
  <form method="POST" action="/admin/settings">
  {{ template "frontmatter" . }}
  <input type="submit" value="Save">
  </form>
</div>
{{ end }}

{{ end }}
