{{ define "content" }}
<header>
  <div class="content">
    <h1>Settings</h1>
  </div>
</header>

<main>
<div class="content">
  <form method="POST" action="/admin/settings">
  {{ template "frontmatter" .Settings }}
  <input type="submit" data-message="Settings updated." data-regenerate="true" value="Save">
  </form>
</div>
</main>

{{ end }}
