<!DOCTYPE html>
<html>
 <head>
  <title>{{.Name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ .Config.AbsoluteURL }}/_filemanagerinternal/css/styles.css">

  {{ if ne .User.StyleSheet "" }}
   <style>
    {{ CSS .User.StyleSheet }}
   </style>
  {{ end }}
 </head>
 <body>
  <header>
   <div>
    {{ $lnk := .PreviousLink }}
    {{ if ne $lnk ""}}
     <a href="{{ $lnk }}">
     {{ end }}
     <div class="action{{ if eq $lnk ""}} disabled{{ end }}" id="prev">
      <i class="material-icons" title="Previous">subdirectory_arrow_left</i>
     </div>
     {{ if ne $lnk ""}}
     </a>
    {{ end }}

    <div class="action" id="open-nav">
        <i class="material-icons" title="Menu">menu</i>
    </div>

    <p>
     <a href="{{ if eq .Config.AbsoluteURL "" }}/{{ else }}{{ .Config.AbsoluteURL }}{{ end }}">
      {{ if .Config.HugoEnabled }}Hugo{{ else }}File Manager{{ end }}
     </a>
     {{ if ne .Name "/"}}
      <i class="material-icons">chevron_right</i>{{ .Name }}
     </p>
    {{ end }}
   </div>

   <div>
       <div class="only-side">
           {{ $lnk := .PreviousLink }}
           {{ if ne $lnk ""}}
            <a href="{{ $lnk }}">
            {{ end }}
            <div class="action{{ if eq $lnk ""}} disabled{{ end }}" id="prev">
             <i class="material-icons" title="Previous">subdirectory_arrow_left</i>
            </div>
            {{ if ne $lnk ""}}
            </a>
           {{ end }}

           <p>
            <a href="{{ if eq .Config.AbsoluteURL "" }}/{{ else }}{{ .Config.AbsoluteURL }}{{ end }}">
             {{ if .Config.HugoEnabled }}Hugo{{ else }}File Manager{{ end }}
            </a>
            </p>
       </div>

       {{ if .IsDir}}

       {{ if .User.AllowCommands }}
       <div id="search">
           <i class="material-icons" title="Storage">storage</i>
           <input type="text" placeholder="Execute a command...">
           <div>Write your git, mercurial or svn command and press enter.</div>
       </div>
       {{ end }}

        <div class="action" id="view">
         <i class="material-icons" title="Switch view">view_headline</i> <span>Switch view</span>
        </div>
        {{ if .User.AllowNew }}
        <div class="action" id="upload">
         <i class="material-icons" title="Upload">file_upload</i> <span>Upload</span>
        </div>
        {{ end }}
        {{ else }}
        {{ template "actions" . }}
       {{ end }}

       <div class="action" id="logout">
        <i class="material-icons" title="Logout">exit_to_app</i> <span>Logout</span>
       </div>
   </div>
   <div id="overlay"></div>
  </header>

  {{ if .IsDir }}
   <div id="toolbar">
    <div>
     <div class="action" id="back">
      <i class="material-icons" title="Back">arrow_back</i>
     </div>
     <p>
      <span id="selected-number">0</span>
      selected.</p>
    </div>
    <div>
     {{ template "actions" . }}
    </div>
   </div>
  {{ end }}

  <main>
   {{ template "content" . }}
   <span id="token">{{ .Config.Token }}</span>
  </main>

  <footer>
   Served with
   <a rel="noopener noreferrer" href="https://caddyserver.com">Caddy</a>
   and
   <a rel="noopener noreferrer" href="https://github.com/hacdias/caddy-filemanager">File Manager</a>.
   {{ if .Config.HugoEnabled }}With a flavour of
    <a rel="noopener noreferrer" href="https://github.com/hacdias/caddy-filemanager">Hugo</a>.{{ end }}
  </footer>

  <!-- SCRIPTS -->
  <!-- User Data and Permissions -->
  <script>var user = JSON.parse('{{ Marshal .User }}');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
  <script src="{{ .Config.AbsoluteURL }}/_filemanagerinternal/js/form2js.js"></script>
  <script src="{{ .Config.AbsoluteURL }}/_filemanagerinternal/js/application.js"></script>
  {{ if .Config.HugoEnabled }}<script src="{{ .Config.AbsoluteURL }}/_hugointernal/js/application.js"></script>{{ end }}
 </body>
</html>
