{{ define "content" }}
{{ with .Data}}
 <main class="container">
  {{ if eq .Type "image" }}
   <img src="{{ .URL }}?raw=true">
   {{ else if eq .Type "audio" }}
   <audio src="{{ .URL }}?raw=true"></audio>
   {{ else if eq .Type "video" }}

   {{ else}}
   <pre>{{ .StringifyContent }}</pre>
  {{ end }}
 </main>
{{ end }}
{{ end }}
