{{ define "templates" }}
<template id="question-template">
    <form class="prompt">
        <h3></h3>
        <p></p>
        <input autofocus type="text">
        <div>
            <button type="submit" autofocus class="ok">OK</button>
            <button class="cancel" onclick="closePrompt(event);">Cancel</button>
        </div>
    </form>
</template>

<template id="message-template">
    <div class="prompt">
        <h3></h3>
        <p></p>
        <div>
            <button type="submit" onclick="closePrompt(event);" class="ok">OK</button>
        </div>
    </div>
</template>

<template id="move-template">
    <form class="prompt">
        <h3>Move</h3>
        <p>Choose new house for your file(s)/folder(s):</p>

        <div class="file-list">
            <ul>
            </ul>
        </div>

        <p>Currently navigating on: <code></code>.</p>

        <div>
            <button type="submit" autofocus class="ok">Move</button>
            <button class="cancel" onclick="closePrompt(event);">Cancel</button>
        </div>
    </form>
</template>


{{ end }}