name: Test

on:
  push:
    branches:
      - "master"
    tags:
      - "v*"
  pull_request:

jobs:
  backend:
    name: Backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
      - run: go test --race ./...
